<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #39d69f86; color: #ffffff;">Verify Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hello {{ username }},</p>
        <p>You created an account on Revelio and you need to verify your email. Please copy the token below and enter it in the verification forms. The token only valid for 30 seconds.</p>
        <h2>{{token}}</h2>
        <p>Please don't share any of the information given above.</p>
        <p>Sincerely,</p>
        <p>Revelio Team</p>
    </div>
</div>