<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #39d69f86; color: #ffffff;">Verify Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi {{ username }},</p>
        <p>You created an account on Revelio, you need to verify your email. Please copy the code below and enter it in the verification forms.</p>
        <p>Token: {{token}}</p>
        <p>Please don't share any of the information given above.</p>
        <p>Sincerely,</p>
        <p>Revelio Team</p>
    </div>
</div>